<p id="notice"><%= notice %></p>


  <h1> Group page </h1>
  <div>
    Name: <%= @group.name %>
  </div>
  <div>
    Description: <%= @group.description %>
  </div>

<% if member_signed_in? %>
  <% if current_member.groups.include?(@group) %>
    <%= link_to 'Edit', edit_group_path(@group) %>
    <%= link_to 'Back', groups_path %>
  <% else %>
    <%= link_to 'Join group', groups_path %>
  <% end %>
<% else %>
  <%= link_to 'Join group', groups_path %>
<% end %>



