<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
         <%= image_tag "gloves.png", class: 'logo' %>
       Chermeals
    </a>
    <a href="#" class="item">Home</a>
  </div>
</div>

<div class="ui main text container">
  <h1 class="ui header">Lets chermeals!</h1>
  <p>This is a basic fixed menu template using fixed size containers.</p>
  <p>A text container is used for the main container, which is useful for single column layouts</p>
  <%= image_tag "wireframe/media-paragraph.png" %>
  <%= image_tag "wireframe/paragraph.png" %>
  <br>
  <br>
  <%= image_tag "wireframe/media-paragraph.png" %>
  <%= image_tag "wireframe/paragraph.png" %>
</div>
