<%= form_for(meal) do |f| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Main title: <%= f.text_field :main_title %><br /><br />
  Provider: <%= f.text_field :vendor %><br /><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
