<div class="card">
    <div class="content">

      <i class="right floated star icon"></i>
      <div class="header"><%= meal.main_title %></div>
      <div class="meta">
        <a> week from today</a>
      </div>
      <div class="description">
        <%= meal.description %>
      </div>
    </div>
    <div class="extra content">
      <%= link_to meal do %>
        <%= semantic_icon("eye") %>
        Show
      <% end %>

      <%= link_to edit_meal_path(meal) do %>
        <%= semantic_icon("right floated pencil") %>
      <% end %>
      <%= link_to meal, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= semantic_icon("right floated trash") %>
      <% end %>
    </div>
  </div>