<p id="notice"><%= notice %></p>

<h1>let's chermeals</h1>

<div class="ui link cards">
  <% @meals.each_with_index do |meal, index| %>

    <div class="card">
      <div class="content">

        <i class="right floated star icon"></i>
        <div class="header"><%= meal.title %></div>
        <div class="meta">
          <a><%= index + 1 %> week from today</a>
        </div>
        <div class="description">
          Elyse is a copywriter working in New York.
        </div>
      </div>
      <div class="extra content">
        <%= link_to meal do %>
          <i class="eye icon"></i>
          Show
        <% end %>

        <%= link_to edit_meal_path(meal) do %>
          <i class="right floated pencil icon"></i>
        <% end %>
        <%= link_to meal, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="trash icon right floated"></i>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
<div class="ui hidden divider"></div>

<div class="ui buttons">
  <%= link_to 'New Meal', new_meal_path, {class: 'blue ui button'} %>

</div>
