<div class="ui middle aligned center aligned grid">
  <div class="column cm-singup-column">
    <h2 class="ui header">
      <div class="content">
        Login
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "ui large form"}) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="at icon"></i>
            <%= f.email_field :email, autofocus: true, placeholder:'Email' %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "off", placeholder:'Password' %>
          </div>
        </div>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <div class="field">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        </div>



        <%= f.submit "Log In", :class => 'ui fluid large blue submit button'  %>
      </div>

      <div class="ui error message"><%= devise_error_messages! %></div>
    <% end %>
    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



