<!DOCTYPE html>
<html>
  <head>
    <title>Chermeals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
             <%= image_tag "gloves.png", class: 'logo' %>
           chermeals
        </a>
        <a href="#" class="item">Home</a>
      </div>
    </div>
    <div class="ui main text container">
      <%= yield %>
    </div>
  </body>
</html>
